<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Agregar CSS a HTML</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/agregar_css_a_html.css"> <!--Ésta es 1 forma-->
        <style> /* Ésta es la 2 forma*/
            h1{
                background-color: green;
                font-size: 22px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: yellow;
                margin-left: 120px;
            }
        </style>
    </head>
    <body>
        <h1>Agregar CSS (Cascading Style Sheets) a HTML</h1>
        <p style="background-color: purple; font-size: 1em; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: black; margin-left: 1cm;">Se evidencia en agregar CSS a HTML, primero desde la etiqueta <strong>Link</strong> dentro de la etiqueta <strong>Head</strong> , la segunda forma es utilizando la etiqueta <strong>Style dentro del head</strong> agregando un selector en este caso el <strong>h1</strong> para estilarlo. Y la tercera forma es utilizando <strong>Style</strong> que es un atributo global en cualquier etiqueta en este caso lo usé en la etiqueta<strong> p</strong>.</p> <!-- Ésta es la tercera forma-->
    </body>
</html>