<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IDS y Clases</title>
        <link rel="stylesheet" href="../style/ids_y_clases.css">
    </head>
    <body id="cuerpo">
        <h1 id="titulo-principal">IDS y Clases en CSS (Cascading Style Sheets)</h1>
        <p class="p-principal">Para identificar un párrafo con <strong>CSS</strong> sin que todos los párrafos que hayan, es necesario hacer uso del atributo <strong>Class</strong> para elementos específicos y, el atributo <strong>id</strong> comparta una misma función, al igual que éstos son atributos globales es decir, que se pueden usar en cualquier elemento     <strong>HTML</strong>. en <strong>CSS</strong> para acceder a elementos <strong>id o Class</strong> se usa (*) para ID y (.) para Class</p>
        <p class="p-principal p2-secundario">Si utilizamos un <strong>ID (Atributo Global)</strong> con un nombre específico, no se va a poder utilizar ese mismo <strong>ID</strong> con otros elemntos. Para el atributo <strong>Class</strong> se puede utilizar varias clases dentro de ese misma etiqueta separadas por espacio para que lo logre identificar con clases distintas.</p>
    </body>
</html>