<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Introducción a CSS</title>
        <link rel="stylesheet" href="../style/introduccion.css">
        <style>
            h1{
                border: 5px solid purple;
        }
        </style>
    </head>
    <body>
        <h1>Introducción a CSS (Cascading Style Cheets)</h1>
        
        <p style="color: aqua;">CSS se trata de, decorar la página WEB. Es un tipo de documento que nos ayuda a añadir estilos a nuestros elementos HTML, tales como color, letra, color de letra, tamaños etc</p>
        <h2>Las competencias adquiridas son:</h2>
    <ul>
        <li>Conocer lo básico sobre el lenguaje de estilo CSS</li>
        <li>Identificar tamaños y responsividad adecuados</li>
        <li>Integrar diferentes fuentes de texto, colores y rellenos.
        </li>
        <li>Modificar el posicionamiento de elementos.
        </li>
    </ul>    
    </body>
</html>